# Startegi : Using each label using neural network(regression) and choose predictor by correlation
## tunning parameter (add num iteration to 50 and number of nodes to 200 and 100

In [1]:
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path='/content/drive/My Drive/IDAO2020/data/train.csv'
list_variable={'x':['sat_id', 'x_sim', 'y_sim', 'Vz_sim'], 'y':['sat_id','x_sim','y_sim','Vx_sim'], 'z':['sat_id','y_sim','z_sim','Vy_sim']}

In [4]:

df=pd.read_csv(path, index_col=0)
# df=df[['x','y','z','x_sim','y_sim','z_sim']]
df=df.drop('epoch', axis=1)
df.head()

    sat_id             x             y  ...    Vx_sim    Vy_sim    Vz_sim
id                                      ...
0        0  -8855.823863  13117.780146  ... -0.907527 -3.804930 -2.024133
1        0 -10567.672384   1619.746066  ... -0.303704 -4.269816 -0.616468
2        0 -10578.684043 -10180.467460  ...  0.274880 -4.046788  0.718768
3        0  -9148.251857 -20651.437460  ...  0.712437 -3.375202  1.718306
4        0  -6719.092336 -28929.061629  ...  0.989382 -2.522618  2.342237

[5 rows x 13 columns]

In [0]:
mydata=df.copy()

In [6]:
mydata.isna().sum()

sat_id    0
x         0
y         0
z         0
Vx        0
Vy        0
Vz        0
x_sim     0
y_sim     0
z_sim     0
Vx_sim    0
Vy_sim    0
Vz_sim    0
dtype: int64

In [7]:
mydata = mydata.dropna()
mydata.shape

(649912, 13)

In [8]:
train_mydata = mydata.sample(frac=0.8,random_state=0)
test_mydata = mydata.drop(train_mydata.index)
test_mydata.head()

    sat_id             x             y  ...    Vx_sim    Vy_sim    Vz_sim
id                                      ...
1        0 -10567.672384   1619.746066  ... -0.303704 -4.269816 -0.616468
4        0  -6719.092336 -28929.061629  ...  0.989382 -2.522618  2.342237
15       0  17281.246143  -2011.121378  ... -0.103839  2.655338 -0.294835
22       0  -1447.724638  28032.228987  ... -1.557072 -1.324386 -3.577769
26       0 -10583.521489 -10145.003880  ...  0.274385 -4.046727  0.718858

[5 rows x 13 columns]

In [9]:
#a=train_mydata.shape
#b=test_mydata.shape
#print(a,b)
print(train_mydata.shape, test_mydata.shape)
train_mydata.head()

(519930, 13) (129982, 13)

         sat_id             x             y  ...    Vx_sim    Vy_sim    Vz_sim
id                                           ...
162906       81 -22445.306373   5848.139687  ... -1.616993 -3.329732  0.928155
123662       60  -9086.781838   7654.307240  ...  4.036478  1.482306 -3.057046
901720      449 -33475.100342 -37591.455624  ...  0.130353 -1.782338 -1.906924
308669      166  11617.034853   2343.826977  ... -2.446951  5.391866  1.577077
1154759     560  25113.931453   -473.679010  ... -1.395221  2.336560 -2.422340

[5 rows x 13 columns]

In [10]:
label=['Vx','Vy','Vz','x','y','z'][3:]
train_stats = train_mydata.describe()
for i in label:
  train_stats.pop(i)
train_stats = train_stats.transpose()
train_stats

           count        mean  ...           75%            max
sat_id  519930.0  308.718101  ...    461.000000     599.000000
Vx      519930.0   -0.001039  ...      1.958741       8.149559
Vy      519930.0   -0.001091  ...      1.840252      12.308450
Vz      519930.0   -0.000599  ...      1.233894       8.644558
x_sim   519930.0 -941.331006  ...  11194.372299  200961.158000
y_sim   519930.0  319.853163  ...  12558.620911  209619.553857
z_sim   519930.0  -77.075471  ...   8253.028193  198526.091552
Vx_sim  519930.0   -0.001115  ...      1.954861       7.431844
Vy_sim  519930.0   -0.002132  ...      1.857399       8.021438
Vz_sim  519930.0   -0.000170  ...      1.235497       8.644165

[10 rows x 8 columns]

In [0]:
train_labels = train_mydata[label]
test_labels = test_mydata[label]

In [12]:
print(train_labels.head(), test_labels.head())

                    x             y             z
id
162906  -22445.306373   5848.139687    805.906588
123662   -9086.781838   7654.307240  -6721.299832
901720  -33475.100342 -37591.455624  -3269.507831
308669   11617.034853   2343.826977  -1821.565305
1154759  25113.931453   -473.679010  41867.498593                x             y             z
id
1  -10567.672384   1619.746066 -24451.813271
4   -6719.092336 -28929.061629 -14938.907967
15  17281.246143  -2011.121378  39970.739873
22  -1447.724638  28032.228987  -3918.192838
26 -10583.521489 -10145.003880 -24243.775722

In [0]:
def norm(x):
  try:
    return (x - train_stats['mean']) / train_stats['std']
  except:
    print(x)

In [0]:
normed_train_data = norm(train_mydata.drop(label, axis=1))
normed_test_data = norm(test_mydata.drop(label, axis=1))

In [15]:
a=normed_test_data.describe()
a.transpose()

           count      mean       std  ...       50%       75%       max
sat_id  129982.0  0.000357  1.001616  ...  0.019145  0.888316  1.693320
Vx      129982.0  0.000887  1.000627  ...  0.010402  0.745366  3.085047
Vy      129982.0  0.003002  1.001795  ... -0.016264  0.719243  3.227379
Vz      129982.0  0.001217  1.000030  ...  0.005625  0.590960  4.077451
x_sim   129982.0 -0.001650  0.997447  ...  0.011332  0.477304  7.940276
y_sim   129982.0  0.000919  1.000829  ...  0.011119  0.476295  8.154777
z_sim   129982.0 -0.000651  0.999315  ...  0.006436  0.399140  9.581585
Vx_sim  129982.0  0.001130  1.002003  ...  0.011815  0.743078  2.819324
Vy_sim  129982.0  0.004858  1.001302  ...  0.000971  0.722968  3.079462
Vz_sim  129982.0 -0.000335  0.999210  ...  0.006347  0.585358  4.088883

[10 rows x 8 columns]

In [16]:
print(normed_test_data.shape)
normed_test_data.head()

(129982, 10)

      sat_id        Vx        Vy  ...    Vx_sim    Vy_sim    Vz_sim
id                                ...
1  -1.800866 -0.114280 -1.645301  ... -0.114772 -1.641642 -0.291518
4  -1.800866  0.376527 -0.970127  ...  0.375696 -0.969551  1.107991
15 -1.800866 -0.039154  1.022432  ... -0.038963  1.022244 -0.139380
22 -1.800866 -0.590838 -0.508568  ... -0.590174 -0.508629 -1.692253
26 -1.800866  0.104692 -1.559217  ...  0.104497 -1.555827  0.340110

[5 rows x 10 columns]

In [0]:
def create_model(input_dim):
    NN_model = Sequential()

    # The Input Layer :
    NN_model.add(Dense(100, kernel_initializer='normal',input_dim = input_dim, activation='relu'))

    # The Hidden Layers :
    NN_model.add(Dense(200, kernel_initializer='normal',activation='relu'))
    NN_model.add(Dense(200, kernel_initializer='normal',activation='relu'))
    NN_model.add(Dense(200, kernel_initializer='normal',activation='relu'))

    # The Output Layer :
    NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

    # Compile the network :
    NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
    NN_model.summary()
    return NN_model

In [0]:
path='/content/drive/My Drive/IDAO2020/'
train_stats.to_csv(path+'train_stats.csv')

In [0]:
def create_checkpoint(variable):
  filename='model_'+variable+'.model'
  checkpoint_callback = ModelCheckpoint(filename
    , monitor='val_mean_absolute_error:', verbose=1,
    save_best_only=True, save_weights_only=False, mode='min')
  return checkpoint_callback

In [20]:
list_variable

{'x': ['sat_id', 'x_sim', 'y_sim', 'Vz_sim'],
 'y': ['sat_id', 'x_sim', 'y_sim', 'Vx_sim'],
 'z': ['sat_id', 'y_sim', 'z_sim', 'Vy_sim']}

In [21]:
train_labels.head()

                    x             y             z
id
162906  -22445.306373   5848.139687    805.906588
123662   -9086.781838   7654.307240  -6721.299832
901720  -33475.100342 -37591.455624  -3269.507831
308669   11617.034853   2343.826977  -1821.565305
1154759  25113.931453   -473.679010  41867.498593

In [22]:
test_mydata.head()

    sat_id             x             y  ...    Vx_sim    Vy_sim    Vz_sim
id                                      ...
1        0 -10567.672384   1619.746066  ... -0.303704 -4.269816 -0.616468
4        0  -6719.092336 -28929.061629  ...  0.989382 -2.522618  2.342237
15       0  17281.246143  -2011.121378  ... -0.103839  2.655338 -0.294835
22       0  -1447.724638  28032.228987  ... -1.557072 -1.324386 -3.577769
26       0 -10583.521489 -10145.003880  ...  0.274385 -4.046727  0.718858

[5 rows x 13 columns]

In [0]:

list_variablez={'z': ['sat_id', 'y_sim', 'z_sim', 'Vy_sim']}

In [0]:
import warnings
warnings.filterwarnings("ignore")

In [28]:
for i in list_variable:
    train=normed_train_data[list_variable[i]]
    label_train=train_labels[i].values
    print(i, train.columns)
    test=normed_test_data[list_variable[i]]
    label_test=test_labels[i].values
    print(len(train.columns))
    model=create_model(input_dim=len(train.columns))
    checkpoint_callback=create_checkpoint(i)
    model.fit(train, label_train, validation_data=(test, label_test), epochs=50)
    fn=path+i+'_model.h5'
    model.save(fn)
    print('succes save to : %s.'%fn)
    test_mydata[i+'_pred']=model.predict(test)

x Index(['sat_id', 'x_sim', 'y_sim', 'Vz_sim'], dtype='object')
4
Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 100)               500
_________________________________________________________________
dense_7 (Dense)              (None, 200)               20200
_________________________________________________________________
dense_8 (Dense)              (None, 200)               40200
_________________________________________________________________
dense_9 (Dense)              (None, 200)               40200
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 201
=================================================================
Total params: 101,301
Trainable params: 101,301
Non-trainable params: 0
_________________________________________________________________
Train on 519930 samples, validate on 129982 samples
Epoch 1/50
519930/519930 [==============================] - 90s 172us/step - loss: 3311.1712 - mean_absolute_error: 3311.1712 - val_loss: 3149.2732 - val_mean_absolute_error: 3149.2732
Epoch 2/50
519930/519930 [==============================] - 91s 175us/step - loss: 3151.9707 - mean_absolute_error: 3151.9707 - val_loss: 3119.8648 - val_mean_absolute_error: 3119.8648
Epoch 3/50
519930/519930 [==============================] - 90s 174us/step - loss: 3142.1809 - mean_absolute_error: 3142.1809 - val_loss: 3148.8175 - val_mean_absolute_error: 3148.8175
Epoch 4/50
519930/519930 [==============================] - 89s 172us/step - loss: 3131.2973 - mean_absolute_error: 3131.2973 - val_loss: 3130.7922 - val_mean_absolute_error: 3130.7922
Epoch 5/50
519930/519930 [==============================] - 89s 171us/step - loss: 3125.9085 - mean_absolute_error: 3125.9085 - val_loss: 3100.0396 - val_mean_absolute_error: 3100.0396
Epoch 6/50
519930/519930 [==============================] - 88s 169us/step - loss: 3120.5507 - mean_absolute_error: 3120.5507 - val_loss: 3129.4538 - val_mean_absolute_error: 3129.4538
Epoch 7/50
519930/519930 [==============================] - 87s 167us/step - loss: 3113.2902 - mean_absolute_error: 3113.2902 - val_loss: 3109.1398 - val_mean_absolute_error: 3109.1398
Epoch 8/50
519930/519930 [==============================] - 86s 166us/step - loss: 3105.5801 - mean_absolute_error: 3105.5801 - val_loss: 3082.0847 - val_mean_absolute_error: 3082.0847
Epoch 9/50
519930/519930 [==============================] - 86s 166us/step - loss: 3099.3185 - mean_absolute_error: 3099.3185 - val_loss: 3136.1831 - val_mean_absolute_error: 3136.1831
Epoch 10/50
519930/519930 [==============================] - 88s 169us/step - loss: 3090.7852 - mean_absolute_error: 3090.7852 - val_loss: 3094.3187 - val_mean_absolute_error: 3094.3187
Epoch 11/50
519930/519930 [==============================] - 88s 169us/step - loss: 3079.2882 - mean_absolute_error: 3079.2882 - val_loss: 3139.3208 - val_mean_absolute_error: 3139.3208
Epoch 12/50
519930/519930 [==============================] - 90s 173us/step - loss: 3067.8472 - mean_absolute_error: 3067.8472 - val_loss: 3071.1960 - val_mean_absolute_error: 3071.1960
Epoch 13/50
519930/519930 [==============================] - 90s 173us/step - loss: 3049.1534 - mean_absolute_error: 3049.1534 - val_loss: 3027.6855 - val_mean_absolute_error: 3027.6855
Epoch 14/50
519930/519930 [==============================] - 91s 175us/step - loss: 3034.6887 - mean_absolute_error: 3034.6887 - val_loss: 3066.8827 - val_mean_absolute_error: 3066.8827
Epoch 15/50
519930/519930 [==============================] - 91s 175us/step - loss: 3014.6593 - mean_absolute_error: 3014.6593 - val_loss: 3001.1368 - val_mean_absolute_error: 3001.1368
Epoch 16/50
519930/519930 [==============================] - 93s 178us/step - loss: 2997.3320 - mean_absolute_error: 2997.3320 - val_loss: 2976.9643 - val_mean_absolute_error: 2976.9643
Epoch 17/50
519930/519930 [==============================] - 92s 178us/step - loss: 2977.0896 - mean_absolute_error: 2977.0896 - val_loss: 2957.4368 - val_mean_absolute_error: 2957.4368
Epoch 18/50
519930/519930 [==============================] - 93s 180us/step - loss: 2958.5442 - mean_absolute_error: 2958.5442 - val_loss: 2965.8306 - val_mean_absolute_error: 2965.8306
Epoch 19/50
519930/519930 [==============================] - 94s 182us/step - loss: 2940.3716 - mean_absolute_error: 2940.3716 - val_loss: 2972.5076 - val_mean_absolute_error: 2972.5076
Epoch 20/50
519930/519930 [==============================] - 94s 181us/step - loss: 2921.6088 - mean_absolute_error: 2921.6088 - val_loss: 2939.5070 - val_mean_absolute_error: 2939.5070
Epoch 21/50
519930/519930 [==============================] - 94s 182us/step - loss: 2902.7860 - mean_absolute_error: 2902.7860 - val_loss: 2905.9228 - val_mean_absolute_error: 2905.9228
Epoch 22/50
519930/519930 [==============================] - 93s 179us/step - loss: 2887.2945 - mean_absolute_error: 2887.2945 - val_loss: 2871.2979 - val_mean_absolute_error: 2871.2979
Epoch 23/50
519930/519930 [==============================] - 92s 177us/step - loss: 2869.1057 - mean_absolute_error: 2869.1057 - val_loss: 2845.8039 - val_mean_absolute_error: 2845.8039
Epoch 24/50
519930/519930 [==============================] - 89s 172us/step - loss: 2850.0772 - mean_absolute_error: 2850.0772 - val_loss: 2893.4700 - val_mean_absolute_error: 2893.4700
Epoch 25/50
519930/519930 [==============================] - 90s 172us/step - loss: 2834.6018 - mean_absolute_error: 2834.6018 - val_loss: 2790.8120 - val_mean_absolute_error: 2790.8120
Epoch 26/50
519930/519930 [==============================] - 90s 172us/step - loss: 2816.9228 - mean_absolute_error: 2816.9228 - val_loss: 2817.7970 - val_mean_absolute_error: 2817.7970
Epoch 27/50
519930/519930 [==============================] - 90s 173us/step - loss: 2800.7900 - mean_absolute_error: 2800.7900 - val_loss: 2760.1647 - val_mean_absolute_error: 2760.1647
Epoch 28/50
519930/519930 [==============================] - 88s 170us/step - loss: 2783.1842 - mean_absolute_error: 2783.1842 - val_loss: 2773.9018 - val_mean_absolute_error: 2773.9018
Epoch 29/50
519930/519930 [==============================] - 90s 173us/step - loss: 2769.2111 - mean_absolute_error: 2769.2111 - val_loss: 2762.6144 - val_mean_absolute_error: 2762.6144
Epoch 30/50
519930/519930 [==============================] - 89s 171us/step - loss: 2753.3440 - mean_absolute_error: 2753.3440 - val_loss: 2765.9336 - val_mean_absolute_error: 2765.9336
Epoch 31/50
519930/519930 [==============================] - 89s 172us/step - loss: 2737.0893 - mean_absolute_error: 2737.0893 - val_loss: 2734.0972 - val_mean_absolute_error: 2734.0972
Epoch 32/50
519930/519930 [==============================] - 88s 169us/step - loss: 2723.2259 - mean_absolute_error: 2723.2259 - val_loss: 2701.2486 - val_mean_absolute_error: 2701.2486
Epoch 33/50
519930/519930 [==============================] - 88s 169us/step - loss: 2708.6611 - mean_absolute_error: 2708.6611 - val_loss: 2712.4770 - val_mean_absolute_error: 2712.4770
Epoch 34/50
519930/519930 [==============================] - 89s 171us/step - loss: 2695.1661 - mean_absolute_error: 2695.1661 - val_loss: 2689.0641 - val_mean_absolute_error: 2689.0641
Epoch 35/50
519930/519930 [==============================] - 89s 172us/step - loss: 2679.1249 - mean_absolute_error: 2679.1249 - val_loss: 2663.8126 - val_mean_absolute_error: 2663.8126
Epoch 36/50
519930/519930 [==============================] - 90s 172us/step - loss: 2666.3698 - mean_absolute_error: 2666.3698 - val_loss: 2697.0991 - val_mean_absolute_error: 2697.0991
Epoch 37/50
519930/519930 [==============================] - 89s 171us/step - loss: 2653.1323 - mean_absolute_error: 2653.1323 - val_loss: 2641.9688 - val_mean_absolute_error: 2641.9688
Epoch 38/50
519930/519930 [==============================] - 87s 168us/step - loss: 2640.8661 - mean_absolute_error: 2640.8661 - val_loss: 2644.5727 - val_mean_absolute_error: 2644.5727
Epoch 39/50
519930/519930 [==============================] - 90s 174us/step - loss: 2627.5288 - mean_absolute_error: 2627.5288 - val_loss: 2638.5846 - val_mean_absolute_error: 2638.5846
Epoch 40/50
519930/519930 [==============================] - 90s 172us/step - loss: 2615.4198 - mean_absolute_error: 2615.4198 - val_loss: 2647.7464 - val_mean_absolute_error: 2647.7464
Epoch 41/50
519930/519930 [==============================] - 93s 179us/step - loss: 2602.7578 - mean_absolute_error: 2602.7578 - val_loss: 2568.7740 - val_mean_absolute_error: 2568.7740
Epoch 42/50
519930/519930 [==============================] - 91s 174us/step - loss: 2590.3968 - mean_absolute_error: 2590.3968 - val_loss: 2596.5762 - val_mean_absolute_error: 2596.5762
Epoch 43/50
519930/519930 [==============================] - 92s 177us/step - loss: 2578.9219 - mean_absolute_error: 2578.9219 - val_loss: 2596.0121 - val_mean_absolute_error: 2596.0121
Epoch 44/50
519930/519930 [==============================] - 90s 172us/step - loss: 2568.5124 - mean_absolute_error: 2568.5124 - val_loss: 2558.3405 - val_mean_absolute_error: 2558.3405
Epoch 45/50
519930/519930 [==============================] - 88s 170us/step - loss: 2556.4861 - mean_absolute_error: 2556.4861 - val_loss: 2575.4390 - val_mean_absolute_error: 2575.4390
Epoch 46/50
519930/519930 [==============================] - 87s 168us/step - loss: 2547.5038 - mean_absolute_error: 2547.5038 - val_loss: 2528.6169 - val_mean_absolute_error: 2528.6169
Epoch 47/50
519930/519930 [==============================] - 86s 166us/step - loss: 2534.9804 - mean_absolute_error: 2534.9804 - val_loss: 2616.6080 - val_mean_absolute_error: 2616.6080
Epoch 48/50
519930/519930 [==============================] - 88s 170us/step - loss: 2527.0351 - mean_absolute_error: 2527.0351 - val_loss: 2496.6573 - val_mean_absolute_error: 2496.6573
Epoch 49/50
519930/519930 [==============================] - 87s 168us/step - loss: 2516.2581 - mean_absolute_error: 2516.2581 - val_loss: 2522.0721 - val_mean_absolute_error: 2522.0721
Epoch 50/50
519930/519930 [==============================] - 88s 170us/step - loss: 2508.8761 - mean_absolute_error: 2508.8761 - val_loss: 2509.6004 - val_mean_absolute_error: 2509.6004
succes save to : /content/drive/My Drive/IDAO2020/x_model.h5.
y Index(['sat_id', 'x_sim', 'y_sim', 'Vx_sim'], dtype='object')
4
Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 100)               500
_________________________________________________________________
dense_12 (Dense)             (None, 200)               20200
_________________________________________________________________
dense_13 (Dense)             (None, 200)               40200
_________________________________________________________________
dense_14 (Dense)             (None, 200)               40200
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 201
=================================================================
Total params: 101,301
Trainable params: 101,301
Non-trainable params: 0
_________________________________________________________________
Train on 519930 samples, validate on 129982 samples
Epoch 1/50
519930/519930 [==============================] - 90s 174us/step - loss: 3308.9418 - mean_absolute_error: 3308.9418 - val_loss: 3225.7267 - val_mean_absolute_error: 3225.7267
Epoch 2/50
519930/519930 [==============================] - 89s 172us/step - loss: 3152.4342 - mean_absolute_error: 3152.4342 - val_loss: 3149.7494 - val_mean_absolute_error: 3149.7494
Epoch 3/50
519930/519930 [==============================] - 89s 172us/step - loss: 3146.2794 - mean_absolute_error: 3146.2794 - val_loss: 3151.2364 - val_mean_absolute_error: 3151.2364
Epoch 4/50
519930/519930 [==============================] - 89s 172us/step - loss: 3140.9909 - mean_absolute_error: 3140.9909 - val_loss: 3226.2173 - val_mean_absolute_error: 3226.2173
Epoch 5/50
519930/519930 [==============================] - 90s 173us/step - loss: 3135.9238 - mean_absolute_error: 3135.9238 - val_loss: 3169.1422 - val_mean_absolute_error: 3169.1422
Epoch 6/50
519930/519930 [==============================] - 90s 173us/step - loss: 3131.9225 - mean_absolute_error: 3131.9225 - val_loss: 3132.9406 - val_mean_absolute_error: 3132.9406
Epoch 7/50
519930/519930 [==============================] - 90s 173us/step - loss: 3126.3488 - mean_absolute_error: 3126.3488 - val_loss: 3184.8397 - val_mean_absolute_error: 3184.8397
Epoch 8/50
519930/519930 [==============================] - 90s 172us/step - loss: 3122.1500 - mean_absolute_error: 3122.1500 - val_loss: 3120.7671 - val_mean_absolute_error: 3120.7671
Epoch 9/50
519930/519930 [==============================] - 90s 173us/step - loss: 3114.9648 - mean_absolute_error: 3114.9648 - val_loss: 3115.6175 - val_mean_absolute_error: 3115.6175
Epoch 10/50
519930/519930 [==============================] - 90s 174us/step - loss: 3106.7849 - mean_absolute_error: 3106.7849 - val_loss: 3117.5337 - val_mean_absolute_error: 3117.5337
Epoch 11/50
519930/519930 [==============================] - 91s 176us/step - loss: 3100.3258 - mean_absolute_error: 3100.3258 - val_loss: 3172.3370 - val_mean_absolute_error: 3172.3370
Epoch 12/50
519930/519930 [==============================] - 91s 175us/step - loss: 3090.5002 - mean_absolute_error: 3090.5002 - val_loss: 3076.2824 - val_mean_absolute_error: 3076.2824
Epoch 13/50
519930/519930 [==============================] - 90s 174us/step - loss: 3080.8384 - mean_absolute_error: 3080.8384 - val_loss: 3130.3555 - val_mean_absolute_error: 3130.3555
Epoch 14/50
519930/519930 [==============================] - 91s 175us/step - loss: 3069.1616 - mean_absolute_error: 3069.1616 - val_loss: 3075.5723 - val_mean_absolute_error: 3075.5723
Epoch 15/50
519930/519930 [==============================] - 90s 173us/step - loss: 3058.9043 - mean_absolute_error: 3058.9043 - val_loss: 3087.6403 - val_mean_absolute_error: 3087.6403
Epoch 16/50
519930/519930 [==============================] - 89s 172us/step - loss: 3045.3671 - mean_absolute_error: 3045.3671 - val_loss: 3059.5091 - val_mean_absolute_error: 3059.5091
Epoch 17/50
519930/519930 [==============================] - 91s 174us/step - loss: 3032.4904 - mean_absolute_error: 3032.4904 - val_loss: 3047.7933 - val_mean_absolute_error: 3047.7933
Epoch 18/50
519930/519930 [==============================] - 89s 171us/step - loss: 3017.4250 - mean_absolute_error: 3017.4250 - val_loss: 3020.3093 - val_mean_absolute_error: 3020.3093
Epoch 19/50
519930/519930 [==============================] - 91s 175us/step - loss: 2999.7849 - mean_absolute_error: 2999.7849 - val_loss: 2991.6344 - val_mean_absolute_error: 2991.6344
Epoch 20/50
519930/519930 [==============================] - 89s 172us/step - loss: 2979.3558 - mean_absolute_error: 2979.3558 - val_loss: 3006.5664 - val_mean_absolute_error: 3006.5664
Epoch 21/50
519930/519930 [==============================] - 88s 170us/step - loss: 2957.3852 - mean_absolute_error: 2957.3852 - val_loss: 2994.2276 - val_mean_absolute_error: 2994.2276
Epoch 22/50
519930/519930 [==============================] - 89s 171us/step - loss: 2939.3813 - mean_absolute_error: 2939.3813 - val_loss: 3041.7615 - val_mean_absolute_error: 3041.7615
Epoch 23/50
519930/519930 [==============================] - 87s 168us/step - loss: 2921.9065 - mean_absolute_error: 2921.9065 - val_loss: 2928.8362 - val_mean_absolute_error: 2928.8362
Epoch 24/50
519930/519930 [==============================] - 87s 168us/step - loss: 2903.0429 - mean_absolute_error: 2903.0429 - val_loss: 2913.2436 - val_mean_absolute_error: 2913.2436
Epoch 25/50
519930/519930 [==============================] - 87s 167us/step - loss: 2885.5331 - mean_absolute_error: 2885.5331 - val_loss: 2935.5860 - val_mean_absolute_error: 2935.5860
Epoch 26/50
519930/519930 [==============================] - 89s 171us/step - loss: 2866.4995 - mean_absolute_error: 2866.4995 - val_loss: 2892.6886 - val_mean_absolute_error: 2892.6886
Epoch 27/50
519930/519930 [==============================] - 89s 170us/step - loss: 2848.6226 - mean_absolute_error: 2848.6226 - val_loss: 2896.0730 - val_mean_absolute_error: 2896.0730
Epoch 28/50
519930/519930 [==============================] - 87s 168us/step - loss: 2832.0685 - mean_absolute_error: 2832.0685 - val_loss: 2843.2474 - val_mean_absolute_error: 2843.2474
Epoch 29/50
519930/519930 [==============================] - 87s 167us/step - loss: 2816.3671 - mean_absolute_error: 2816.3671 - val_loss: 2855.4923 - val_mean_absolute_error: 2855.4923
Epoch 30/50
519930/519930 [==============================] - 89s 171us/step - loss: 2797.7624 - mean_absolute_error: 2797.7624 - val_loss: 2823.1651 - val_mean_absolute_error: 2823.1651
Epoch 31/50
519930/519930 [==============================] - 88s 170us/step - loss: 2779.1134 - mean_absolute_error: 2779.1134 - val_loss: 2801.2989 - val_mean_absolute_error: 2801.2989
Epoch 32/50
519930/519930 [==============================] - 88s 170us/step - loss: 2761.5681 - mean_absolute_error: 2761.5681 - val_loss: 2793.8533 - val_mean_absolute_error: 2793.8533
Epoch 33/50
519930/519930 [==============================] - 91s 175us/step - loss: 2745.4015 - mean_absolute_error: 2745.4015 - val_loss: 2800.2895 - val_mean_absolute_error: 2800.2895
Epoch 34/50
519930/519930 [==============================] - 89s 171us/step - loss: 2727.9636 - mean_absolute_error: 2727.9636 - val_loss: 2772.4436 - val_mean_absolute_error: 2772.4436
Epoch 35/50
519930/519930 [==============================] - 89s 171us/step - loss: 2713.1331 - mean_absolute_error: 2713.1331 - val_loss: 2735.8474 - val_mean_absolute_error: 2735.8474
Epoch 36/50
519930/519930 [==============================] - 90s 174us/step - loss: 2699.5544 - mean_absolute_error: 2699.5544 - val_loss: 2709.6862 - val_mean_absolute_error: 2709.6862
Epoch 37/50
519930/519930 [==============================] - 91s 175us/step - loss: 2685.4039 - mean_absolute_error: 2685.4039 - val_loss: 2753.6997 - val_mean_absolute_error: 2753.6997
Epoch 38/50
519930/519930 [==============================] - 91s 176us/step - loss: 2672.0690 - mean_absolute_error: 2672.0690 - val_loss: 2676.7730 - val_mean_absolute_error: 2676.7730
Epoch 39/50
519930/519930 [==============================] - 90s 174us/step - loss: 2659.1949 - mean_absolute_error: 2659.1949 - val_loss: 2694.0470 - val_mean_absolute_error: 2694.0470
Epoch 40/50
519930/519930 [==============================] - 92s 176us/step - loss: 2646.9385 - mean_absolute_error: 2646.9385 - val_loss: 2698.3221 - val_mean_absolute_error: 2698.3221
Epoch 41/50
519930/519930 [==============================] - 94s 180us/step - loss: 2636.8241 - mean_absolute_error: 2636.8241 - val_loss: 2689.4503 - val_mean_absolute_error: 2689.4503
Epoch 42/50
519930/519930 [==============================] - 95s 182us/step - loss: 2623.7359 - mean_absolute_error: 2623.7359 - val_loss: 2671.5344 - val_mean_absolute_error: 2671.5344
Epoch 43/50
519930/519930 [==============================] - 96s 185us/step - loss: 2611.9182 - mean_absolute_error: 2611.9182 - val_loss: 2638.5427 - val_mean_absolute_error: 2638.5427
Epoch 44/50
519930/519930 [==============================] - 96s 185us/step - loss: 2600.8526 - mean_absolute_error: 2600.8526 - val_loss: 2633.2260 - val_mean_absolute_error: 2633.2260
Epoch 45/50
519930/519930 [==============================] - 96s 184us/step - loss: 2590.1180 - mean_absolute_error: 2590.1180 - val_loss: 2610.6652 - val_mean_absolute_error: 2610.6652
Epoch 46/50

In [29]:
test_mydata.head()

    sat_id             x  ...        y_pred        z_pred
id                        ...
1        0 -10567.672384  ...   1548.978394 -22537.742188
4        0  -6719.092336  ... -28819.333984 -15893.877930
15       0  17281.246143  ...  -6840.283691  39626.449219
22       0  -1447.724638  ...  27893.078125  -3342.088135
26       0 -10583.521489  ...   3039.018066 -24139.792969

[5 rows x 16 columns]

In [0]:
def smape(satellite_predicted_values, satellite_true_values):
    return np.mean(np.abs((satellite_predicted_values - satellite_true_values)/(np.abs(satellite_predicted_values) + np.abs(satellite_true_values))))

In [31]:
for i in ['_sim', '_pred']:
    real=test_mydata[label].values
    comp=test_mydata[[j+i for j in label]].values
    print('smape real vs %s : %f'%(i, smape(real, comp)))

smape real vs _sim : 0.184052
smape real vs _pred : 0.143759

In [45]:
print('improvement : %f persen'%round(((0.184052-0.143759)*100/0.184052),2))

improvement : 21.890000 persen

In [0]:
""