# Startegi : Using each label using neural network(regression) and choose predictor by correlation (change correlation look as a absolute number with auto threshold 0.02 

## epoch -> 100

In [0]:
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path='/content/drive/My Drive/IDAO2020/data/train.csv'
list_variable={'x':['x_sim', 'z_sim', 'Vy_sim'],
         'y': ['x_sim', 'y_sim', 'Vz_sim'],
         'z': ['sat_id', 'x_sim', 'z_sim', 'Vy_sim', 'Vz_sim'],
         'Vx': ['y_sim', 'Vx_sim', 'Vz_sim'],
         'Vy': ['z_sim', 'Vx_sim', 'Vy_sim', 'Vz_sim'],
         'Vz': ['y_sim', 'z_sim', 'Vy_sim', 'Vz_sim']}
list_variable

{'Vx': ['y_sim', 'Vx_sim', 'Vz_sim'],
 'Vy': ['z_sim', 'Vx_sim', 'Vy_sim', 'Vz_sim'],
 'Vz': ['y_sim', 'z_sim', 'Vy_sim', 'Vz_sim'],
 'x': ['x_sim', 'z_sim', 'Vy_sim'],
 'y': ['x_sim', 'y_sim', 'Vz_sim'],
 'z': ['sat_id', 'x_sim', 'z_sim', 'Vy_sim', 'Vz_sim']}

In [0]:
df=pd.read_csv(path, index_col=0)
# df=df[['x','y','z','x_sim','y_sim','z_sim']]
df=df.drop('epoch', axis=1)
df.head()

    sat_id             x             y  ...    Vx_sim    Vy_sim    Vz_sim
id                                      ...
0        0  -8855.823863  13117.780146  ... -0.907527 -3.804930 -2.024133
1        0 -10567.672384   1619.746066  ... -0.303704 -4.269816 -0.616468
2        0 -10578.684043 -10180.467460  ...  0.274880 -4.046788  0.718768
3        0  -9148.251857 -20651.437460  ...  0.712437 -3.375202  1.718306
4        0  -6719.092336 -28929.061629  ...  0.989382 -2.522618  2.342237

[5 rows x 13 columns]

In [0]:
mydata=df.copy()

In [0]:
mydata.isna().sum()

sat_id    0
x         0
y         0
z         0
Vx        0
Vy        0
Vz        0
x_sim     0
y_sim     0
z_sim     0
Vx_sim    0
Vy_sim    0
Vz_sim    0
dtype: int64

In [0]:
mydata = mydata.dropna()
mydata.shape

(649912, 13)

In [0]:
train_mydata = mydata.sample(frac=0.8,random_state=0)
test_mydata = mydata.drop(train_mydata.index)
test_mydata.head()

    sat_id             x             y  ...    Vx_sim    Vy_sim    Vz_sim
id                                      ...
1        0 -10567.672384   1619.746066  ... -0.303704 -4.269816 -0.616468
4        0  -6719.092336 -28929.061629  ...  0.989382 -2.522618  2.342237
15       0  17281.246143  -2011.121378  ... -0.103839  2.655338 -0.294835
22       0  -1447.724638  28032.228987  ... -1.557072 -1.324386 -3.577769
26       0 -10583.521489 -10145.003880  ...  0.274385 -4.046727  0.718858

[5 rows x 13 columns]

In [0]:
#a=train_mydata.shape
#b=test_mydata.shape
#print(a,b)
print(train_mydata.shape, test_mydata.shape)
train_mydata.head()

(519930, 13) (129982, 13)

         sat_id             x             y  ...    Vx_sim    Vy_sim    Vz_sim
id                                           ...
162906       81 -22445.306373   5848.139687  ... -1.616993 -3.329732  0.928155
123662       60  -9086.781838   7654.307240  ...  4.036478  1.482306 -3.057046
901720      449 -33475.100342 -37591.455624  ...  0.130353 -1.782338 -1.906924
308669      166  11617.034853   2343.826977  ... -2.446951  5.391866  1.577077
1154759     560  25113.931453   -473.679010  ... -1.395221  2.336560 -2.422340

[5 rows x 13 columns]

In [0]:
label=['Vx','Vy','Vz','x','y','z']
train_stats = train_mydata.describe()
for i in label:
  train_stats.pop(i)
train_stats = train_stats.transpose()
train_stats

           count        mean  ...           75%            max
sat_id  519930.0  308.718101  ...    461.000000     599.000000
x_sim   519930.0 -941.331006  ...  11194.372299  200961.158000
y_sim   519930.0  319.853163  ...  12558.620911  209619.553857
z_sim   519930.0  -77.075471  ...   8253.028193  198526.091552
Vx_sim  519930.0   -0.001115  ...      1.954861       7.431844
Vy_sim  519930.0   -0.002132  ...      1.857399       8.021438
Vz_sim  519930.0   -0.000170  ...      1.235497       8.644165

[7 rows x 8 columns]

In [0]:
train_labels = train_mydata[label]
test_labels = test_mydata[label]

In [0]:
print(train_labels.head(), test_labels.head())

               Vx        Vy        Vz             x             y             z
id
162906  -1.295831 -3.424371  0.920461 -22445.306373   5848.139687    805.906588
123662   4.189223  1.357308 -2.946352  -9086.781838   7654.307240  -6721.299832
901720   0.115463 -1.791145 -1.901966 -33475.100342 -37591.455624  -3269.507831
308669  -1.136521  5.835368  1.405297  11617.034853   2343.826977  -1821.565305
1154759 -0.849950  2.496597 -1.506792  25113.931453   -473.679010  41867.498593           Vx        Vy        Vz             x             y             z
id
1  -0.302590 -4.272617 -0.612796 -10567.672384   1619.746066 -24451.813271
4   0.992507 -2.519732  2.344703  -6719.092336 -28929.061629 -14938.907967
15 -0.104355  2.653343 -0.295245  17281.246143  -2011.121378  39970.739873
22 -1.560091 -1.321435 -3.577772  -1447.724638  28032.228987  -3918.192838
26  0.275212 -4.049127  0.719273 -10583.521489 -10145.003880 -24243.775722

In [0]:
def norm(x):
  try:
    return (x - train_stats['mean']) / train_stats['std']
  except:
    print(x)

In [0]:
normed_train_data = norm(train_mydata.drop(label, axis=1))
normed_test_data = norm(test_mydata.drop(label, axis=1))

In [0]:
a=normed_test_data.describe()
a.transpose()

           count      mean       std  ...       50%       75%       max
sat_id  129982.0  0.000357  1.001616  ...  0.019145  0.888316  1.693320
x_sim   129982.0 -0.001650  0.997447  ...  0.011332  0.477304  7.940276
y_sim   129982.0  0.000919  1.000829  ...  0.011119  0.476295  8.154777
z_sim   129982.0 -0.000651  0.999315  ...  0.006436  0.399140  9.581585
Vx_sim  129982.0  0.001130  1.002003  ...  0.011815  0.743078  2.819324
Vy_sim  129982.0  0.004858  1.001302  ...  0.000971  0.722968  3.079462
Vz_sim  129982.0 -0.000335  0.999210  ...  0.006347  0.585358  4.088883

[7 rows x 8 columns]

In [0]:
print(normed_test_data.shape)
normed_test_data.head()

(129982, 7)

      sat_id     x_sim     y_sim     z_sim    Vx_sim    Vy_sim    Vz_sim
id
1  -1.800866 -0.378704  0.051925 -1.180214 -0.114772 -1.641642 -0.291518
4  -1.800866 -0.227991 -1.141345 -0.721564  0.375696 -0.969551  1.107991
15 -1.800866  0.716221 -0.091263  1.936827 -0.038963  1.022244 -0.139380
22 -1.800866 -0.020474  1.082138 -0.187834 -0.590174 -0.508629 -1.692253
26 -1.800866 -0.379433 -0.408845 -1.170397  0.104497 -1.555827  0.340110

In [0]:
def create_model(input_dim):
    NN_model = Sequential()

    # The Input Layer :
    NN_model.add(Dense(100, kernel_initializer='normal',input_dim = input_dim, activation='relu'))

    # The Hidden Layers :
    NN_model.add(Dense(200, kernel_initializer='normal',activation='relu'))
    NN_model.add(Dense(200, kernel_initializer='normal',activation='relu'))
    NN_model.add(Dense(200, kernel_initializer='normal',activation='relu'))

    # The Output Layer :
    NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

    # Compile the network :
    NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
    NN_model.summary()
    return NN_model

In [0]:
path='/content/drive/My Drive/IDAO2020/'
train_stats.to_csv(path+'train_stats.csv')

In [0]:
def create_checkpoint(variable):
  filename='8_model_'+variable+'.h5'
  checkpoint_callback = ModelCheckpoint(filename
    , monitor='val_mean_absolute_error', verbose=1,
    save_best_only=True, save_weights_only=False, mode='min')
  return checkpoint_callback

In [0]:
list_variable

{'Vx': ['y_sim', 'Vx_sim', 'Vz_sim'],
 'Vy': ['z_sim', 'Vx_sim', 'Vy_sim', 'Vz_sim'],
 'Vz': ['y_sim', 'z_sim', 'Vy_sim', 'Vz_sim'],
 'x': ['x_sim', 'z_sim', 'Vy_sim'],
 'y': ['x_sim', 'y_sim', 'Vz_sim'],
 'z': ['sat_id', 'x_sim', 'z_sim', 'Vy_sim', 'Vz_sim']}

In [0]:
train_labels.head()

               Vx        Vy        Vz             x             y             z
id
162906  -1.295831 -3.424371  0.920461 -22445.306373   5848.139687    805.906588
123662   4.189223  1.357308 -2.946352  -9086.781838   7654.307240  -6721.299832
901720   0.115463 -1.791145 -1.901966 -33475.100342 -37591.455624  -3269.507831
308669  -1.136521  5.835368  1.405297  11617.034853   2343.826977  -1821.565305
1154759 -0.849950  2.496597 -1.506792  25113.931453   -473.679010  41867.498593

In [0]:
test_mydata.head()

    sat_id             x             y  ...    Vx_sim    Vy_sim    Vz_sim
id                                      ...
1        0 -10567.672384   1619.746066  ... -0.303704 -4.269816 -0.616468
4        0  -6719.092336 -28929.061629  ...  0.989382 -2.522618  2.342237
15       0  17281.246143  -2011.121378  ... -0.103839  2.655338 -0.294835
22       0  -1447.724638  28032.228987  ... -1.557072 -1.324386 -3.577769
26       0 -10583.521489 -10145.003880  ...  0.274385 -4.046727  0.718858

[5 rows x 13 columns]

In [0]:
import warnings
warnings.filterwarnings("ignore")

In [0]:
for i in list_variable:
    train=normed_train_data[list_variable[i]]
    label_train=train_labels[i].values
    print(i, train.columns)
    test=normed_test_data[list_variable[i]]
    label_test=test_labels[i].values
    print(len(train.columns))
    model=create_model(input_dim=len(train.columns))
    checkpoint_callback=create_checkpoint(i)
    model.fit(train, label_train, validation_data=(test, label_test), epochs=100, callbacks=[checkpoint_callback])
    fn=path+i+'_model_100_8.h5'
    model.save(fn)
    print('succes save to : %s.'%fn)
    test_mydata[i+'_pred']=model.predict(test)

x Index(['x_sim', 'z_sim', 'Vy_sim'], dtype='object')
3
Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 100)               400
_________________________________________________________________
dense_7 (Dense)              (None, 200)               20200
_________________________________________________________________
dense_8 (Dense)              (None, 200)               40200
_________________________________________________________________
dense_9 (Dense)              (None, 200)               40200
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 201
=================================================================
Total params: 101,201
Trainable params: 101,201
Non-trainable params: 0
_________________________________________________________________
Train on 519930 samples, validate on 129982 samples
Epoch 1/100
519930/519930 [==============================] - 70s 135us/step - loss: 3291.6082 - mean_absolute_error: 3291.6082 - val_loss: 3124.9048 - val_mean_absolute_error: 3124.9048

Epoch 00001: val_mean_absolute_error improved from inf to 3124.90483, saving model to 8_model_x.h5
Epoch 2/100
519930/519930 [==============================] - 68s 131us/step - loss: 3137.1479 - mean_absolute_error: 3137.1479 - val_loss: 3141.1244 - val_mean_absolute_error: 3141.1244

Epoch 00002: val_mean_absolute_error did not improve from 3124.90483
Epoch 3/100
519930/519930 [==============================] - 68s 131us/step - loss: 3129.9244 - mean_absolute_error: 3129.9244 - val_loss: 3091.0570 - val_mean_absolute_error: 3091.0570

Epoch 00003: val_mean_absolute_error improved from 3124.90483 to 3091.05700, saving model to 8_model_x.h5
Epoch 4/100
519930/519930 [==============================] - 68s 130us/step - loss: 3125.2029 - mean_absolute_error: 3125.2029 - val_loss: 3180.7050 - val_mean_absolute_error: 3180.7050

Epoch 00004: val_mean_absolute_error did not improve from 3091.05700
Epoch 5/100
519930/519930 [==============================] - 72s 139us/step - loss: 3123.2374 - mean_absolute_error: 3123.2374 - val_loss: 3120.6964 - val_mean_absolute_error: 3120.6964

Epoch 00005: val_mean_absolute_error did not improve from 3091.05700
Epoch 6/100
519930/519930 [==============================] - 73s 141us/step - loss: 3117.6529 - mean_absolute_error: 3117.6529 - val_loss: 3129.2610 - val_mean_absolute_error: 3129.2610

Epoch 00006: val_mean_absolute_error did not improve from 3091.05700
Epoch 7/100
519930/519930 [==============================] - 71s 136us/step - loss: 3116.4483 - mean_absolute_error: 3116.4483 - val_loss: 3094.1613 - val_mean_absolute_error: 3094.1613

Epoch 00007: val_mean_absolute_error did not improve from 3091.05700
Epoch 8/100
519930/519930 [==============================] - 69s 133us/step - loss: 3111.7996 - mean_absolute_error: 3111.7996 - val_loss: 3086.4837 - val_mean_absolute_error: 3086.4837

Epoch 00008: val_mean_absolute_error improved from 3091.05700 to 3086.48374, saving model to 8_model_x.h5
Epoch 9/100
519930/519930 [==============================] - 70s 135us/step - loss: 3110.1120 - mean_absolute_error: 3110.1120 - val_loss: 3076.0959 - val_mean_absolute_error: 3076.0959

Epoch 00009: val_mean_absolute_error improved from 3086.48374 to 3076.09589, saving model to 8_model_x.h5
Epoch 10/100
519930/519930 [==============================] - 70s 135us/step - loss: 3106.8596 - mean_absolute_error: 3106.8596 - val_loss: 3105.9477 - val_mean_absolute_error: 3105.9477

Epoch 00010: val_mean_absolute_error did not improve from 3076.09589
Epoch 11/100
519930/519930 [==============================] - 69s 133us/step - loss: 3101.8330 - mean_absolute_error: 3101.8330 - val_loss: 3090.9338 - val_mean_absolute_error: 3090.9338

Epoch 00011: val_mean_absolute_error did not improve from 3076.09589
Epoch 12/100
519930/519930 [==============================] - 71s 137us/step - loss: 3098.3351 - mean_absolute_error: 3098.3351 - val_loss: 3098.7114 - val_mean_absolute_error: 3098.7114

Epoch 00012: val_mean_absolute_error did not improve from 3076.09589
Epoch 13/100
519930/519930 [==============================] - 68s 130us/step - loss: 3095.1842 - mean_absolute_error: 3095.1842 - val_loss: 3096.6757 - val_mean_absolute_error: 3096.6757

Epoch 00013: val_mean_absolute_error did not improve from 3076.09589
Epoch 14/100
519930/519930 [==============================] - 68s 130us/step - loss: 3091.6394 - mean_absolute_error: 3091.6394 - val_loss: 3088.3396 - val_mean_absolute_error: 3088.3396

Epoch 00014: val_mean_absolute_error did not improve from 3076.09589
Epoch 15/100
519930/519930 [==============================] - 70s 135us/step - loss: 3086.4695 - mean_absolute_error: 3086.4695 - val_loss: 3064.4229 - val_mean_absolute_error: 3064.4229

Epoch 00015: val_mean_absolute_error improved from 3076.09589 to 3064.42292, saving model to 8_model_x.h5
Epoch 16/100
519930/519930 [==============================] - 69s 134us/step - loss: 3081.8866 - mean_absolute_error: 3081.8866 - val_loss: 3070.2804 - val_mean_absolute_error: 3070.2804

Epoch 00016: val_mean_absolute_error did not improve from 3064.42292
Epoch 17/100
519930/519930 [==============================] - 69s 132us/step - loss: 3076.4545 - mean_absolute_error: 3076.4545 - val_loss: 3070.0067 - val_mean_absolute_error: 3070.0067

Epoch 00017: val_mean_absolute_error did not improve from 3064.42292
Epoch 18/100
519930/519930 [==============================] - 68s 130us/step - loss: 3071.1525 - mean_absolute_error: 3071.1525 - val_loss: 3050.9816 - val_mean_absolute_error: 3050.9816

Epoch 00018: val_mean_absolute_error improved from 3064.42292 to 3050.98159, saving model to 8_model_x.h5
Epoch 19/100
519930/519930 [==============================] - 70s 135us/step - loss: 3067.6032 - mean_absolute_error: 3067.6032 - val_loss: 3048.5250 - val_mean_absolute_error: 3048.5250

Epoch 00019: val_mean_absolute_error improved from 3050.98159 to 3048.52497, saving model to 8_model_x.h5
Epoch 20/100
519930/519930 [==============================] - 71s 136us/step - loss: 3062.9448 - mean_absolute_error: 3062.9448 - val_loss: 3052.8910 - val_mean_absolute_error: 3052.8910

Epoch 00020: val_mean_absolute_error did not improve from 3048.52497
Epoch 21/100
519930/519930 [==============================] - 67s 129us/step - loss: 3057.2244 - mean_absolute_error: 3057.2244 - val_loss: 3051.5444 - val_mean_absolute_error: 3051.5444

Epoch 00021: val_mean_absolute_error did not improve from 3048.52497
Epoch 22/100
519930/519930 [==============================] - 68s 130us/step - loss: 3052.1206 - mean_absolute_error: 3052.1206 - val_loss: 3047.3843 - val_mean_absolute_error: 3047.3843

Epoch 00022: val_mean_absolute_error improved from 3048.52497 to 3047.38430, saving model to 8_model_x.h5
Epoch 23/100
519930/519930 [==============================] - 69s 133us/step - loss: 3047.4030 - mean_absolute_error: 3047.4030 - val_loss: 3050.9301 - val_mean_absolute_error: 3050.9301

Epoch 00023: val_mean_absolute_error did not improve from 3047.38430
Epoch 24/100
519930/519930 [==============================] - 69s 133us/step - loss: 3041.3020 - mean_absolute_error: 3041.3020 - val_loss: 3016.9724 - val_mean_absolute_error: 3016.9724

Epoch 00024: val_mean_absolute_error improved from 3047.38430 to 3016.97240, saving model to 8_model_x.h5
Epoch 25/100
519930/519930 [==============================] - 69s 132us/step - loss: 3036.6082 - mean_absolute_error: 3036.6082 - val_loss: 3009.7847 - val_mean_absolute_error: 3009.7847

Epoch 00025: val_mean_absolute_error improved from 3016.97240 to 3009.78471, saving model to 8_model_x.h5
Epoch 26/100
519930/519930 [==============================] - 66s 127us/step - loss: 3030.7784 - mean_absolute_error: 3030.7784 - val_loss: 3022.0936 - val_mean_absolute_error: 3022.0936

Epoch 00026: val_mean_absolute_error did not improve from 3009.78471
Epoch 27/100
519930/519930 [==============================] - 65s 125us/step - loss: 3024.2787 - mean_absolute_error: 3024.2787 - val_loss: 3004.6105 - val_mean_absolute_error: 3004.6105

Epoch 00027: val_mean_absolute_error improved from 3009.78471 to 3004.61051, saving model to 8_model_x.h5
Epoch 28/100
519930/519930 [==============================] - 67s 130us/step - loss: 3017.9518 - mean_absolute_error: 3017.9518 - val_loss: 3031.8966 - val_mean_absolute_error: 3031.8966

Epoch 00028: val_mean_absolute_error did not improve from 3004.61051
Epoch 29/100
519930/519930 [==============================] - 66s 127us/step - loss: 3012.2655 - mean_absolute_error: 3012.2655 - val_loss: 3027.5285 - val_mean_absolute_error: 3027.5285

Epoch 00029: val_mean_absolute_error did not improve from 3004.61051
Epoch 30/100
519930/519930 [==============================] - 69s 133us/step - loss: 3006.7241 - mean_absolute_error: 3006.7241 - val_loss: 3002.2779 - val_mean_absolute_error: 3002.2779

Epoch 00030: val_mean_absolute_error improved from 3004.61051 to 3002.27787, saving model to 8_model_x.h5
Epoch 31/100
519930/519930 [==============================] - 69s 133us/step - loss: 2998.4031 - mean_absolute_error: 2998.4031 - val_loss: 2993.3953 - val_mean_absolute_error: 2993.3953

Epoch 00031: val_mean_absolute_error improved from 3002.27787 to 2993.39532, saving model to 8_model_x.h5
Epoch 32/100
519930/519930 [==============================] - 69s 133us/step - loss: 2993.5877 - mean_absolute_error: 2993.5877 - val_loss: 2991.9654 - val_mean_absolute_error: 2991.9654

Epoch 00032: val_mean_absolute_error improved from 2993.39532 to 2991.96541, saving model to 8_model_x.h5
Epoch 33/100
519930/519930 [==============================] - 69s 133us/step - loss: 2986.4250 - mean_absolute_error: 2986.4250 - val_loss: 2985.9824 - val_mean_absolute_error: 2985.9824

Epoch 00033: val_mean_absolute_error improved from 2991.96541 to 2985.98241, saving model to 8_model_x.h5
Epoch 34/100
519930/519930 [==============================] - 69s 132us/step - loss: 2979.6009 - mean_absolute_error: 2979.6009 - val_loss: 3107.0599 - val_mean_absolute_error: 3107.0599

Epoch 00034: val_mean_absolute_error did not improve from 2985.98241
Epoch 35/100
519930/519930 [==============================] - 71s 136us/step - loss: 2971.8882 - mean_absolute_error: 2971.8882 - val_loss: 2952.5194 - val_mean_absolute_error: 2952.5194

Epoch 00035: val_mean_absolute_error improved from 2985.98241 to 2952.51942, saving model to 8_model_x.h5
Epoch 36/100
519930/519930 [==============================] - 71s 137us/step - loss: 2964.6765 - mean_absolute_error: 2964.6765 - val_loss: 2956.7898 - val_mean_absolute_error: 2956.7898

Epoch 00036: val_mean_absolute_error did not improve from 2952.51942
Epoch 37/100
519930/519930 [==============================] - 66s 127us/step - loss: 2957.7088 - mean_absolute_error: 2957.7088 - val_loss: 2958.5851 - val_mean_absolute_error: 2958.5851

Epoch 00037: val_mean_absolute_error did not improve from 2952.51942
Epoch 38/100
519930/519930 [==============================] - 66s 127us/step - loss: 2949.4662 - mean_absolute_error: 2949.4662 - val_loss: 2967.6482 - val_mean_absolute_error: 2967.6482

Epoch 00038: val_mean_absolute_error did not improve from 2952.51942
Epoch 39/100
519930/519930 [==============================] - 68s 132us/step - loss: 2942.0896 - mean_absolute_error: 2942.0896 - val_loss: 2948.4383 - val_mean_absolute_error: 2948.4383

Epoch 00039: val_mean_absolute_error improved from 2952.51942 to 2948.43830, saving model to 8_model_x.h5
Epoch 40/100
519930/519930 [==============================] - 68s 131us/step - loss: 2932.6096 - mean_absolute_error: 2932.6096 - val_loss: 2920.1722 - val_mean_absolute_error: 2920.1722

Epoch 00040: val_mean_absolute_error improved from 2948.43830 to 2920.17218, saving model to 8_model_x.h5
Epoch 41/100
519930/519930 [==============================] - 69s 133us/step - loss: 2925.9129 - mean_absolute_error: 2925.9129 - val_loss: 2927.9837 - val_mean_absolute_error: 2927.9837

Epoch 00041: val_mean_absolute_error did not improve from 2920.17218
Epoch 42/100
519930/519930 [==============================] - 68s 131us/step - loss: 2918.7682 - mean_absolute_error: 2918.7682 - val_loss: 2917.6644 - val_mean_absolute_error: 2917.6644

Epoch 00042: val_mean_absolute_error improved from 2920.17218 to 2917.66435, saving model to 8_model_x.h5
Epoch 43/100
519930/519930 [==============================] - 69s 132us/step - loss: 2910.3640 - mean_absolute_error: 2910.3640 - val_loss: 2897.8248 - val_mean_absolute_error: 2897.8248

Epoch 00043: val_mean_absolute_error improved from 2917.66435 to 2897.82480, saving model to 8_model_x.h5
Epoch 44/100
519930/519930 [==============================] - 63s 122us/step - loss: 2904.2654 - mean_absolute_error: 2904.2654 - val_loss: 2942.7168 - val_mean_absolute_error: 2942.7168

Epoch 00044: val_mean_absolute_error did not improve from 2897.82480
Epoch 45/100
 96928/519930 [====>.........................] - ETA: 47s - loss: 2889.8594 - mean_absolute_error: 2889.8594Buffered data was truncated after reaching the output size limit.

In [0]:
test_mydata.head()

In [0]:
def smape(satellite_predicted_values, satellite_true_values):
    return np.mean(np.abs((satellite_predicted_values - satellite_true_values)/(np.abs(satellite_predicted_values) + np.abs(satellite_true_values))))

In [0]:
for i in ['_sim', '_pred']:
    real=test_mydata[label].values
    comp=test_mydata[[j+i for j in label]].values
    print('smape real vs %s : %f'%(i, smape(real, comp)))

In [0]:
print('improvement : %f persen'%round(((0.184052-0.143759)*100/0.184052),2))

In [0]:
""